[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
pymmwr = "*"
click = "*"
urllib3 = "*"
webdriver-manager = "*"
pyyaml = "*"
zoltpy = {git = "https://github.com/reichlab/zoltpy"}

[dev-packages]

[requires]
python_version = "3.8"
