---
---

{% assign palette = site.palettes[site.palette].sass %}

@use 'imports/functions' with (
  $font: (
    primary: ("Lato", Helvetica, Arial, sans-serif),
    monospace: (Monaco, courier, monospace)
  ),
  $palette: (
    primary:           #424b5f,
    secondary:         #283040,
    meta:              #67758d,
    border:            #dee5ef,
    bg:                #f7f9fb,
    note:              #fcb41d,
    important:         #fc381d,
    accent:            {{ palette.accent1 }},
    accent-alt:        {{ palette.accent2 }},
  )
);

@use 'imports/reset';
@use 'imports/general';
@use 'imports/icons';
@use 'imports/animations';
@use 'imports/structure';
@use 'imports/header';
@use 'imports/posts-pages';
//@use 'imports/post-navigation';
@use 'imports/docs';
@use 'imports/sections';
@use 'imports/footer';
@use 'imports/prism';
