<!doctype html>
<html lang="en">
    <head>    
        
        <title>{% assign title_is_not_empty = page.title | is_not_empty %}{% if title_is_not_empty %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ page.excerpt | default: site.description }}"/>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i%26display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
        <link rel="shortcut icon" type="image/png" href="/images/forecast-hub-favicon.png">
        
    </head>
    <body>
        
        {{ content }}
        <!-- Scripts -->
        <script src="{{ 'assets/js/plugins.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/prism.js' | relative_url }}" data-manual></script>
        <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
        <!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
    var sc_project=10491184;
    var sc_invisible=1;
    var sc_security="40c0ea38";
    var scJsHost = (("https:" == document.location.protocol) ?
                    "https://secure." : "http://www.");
    document.write("<sc" + "ript type='text/javascript' src='" +
                   scJsHost + "statcounter.com/counter/counter.js'></" +
                   "script>");
   </script>
   <noscript>
     <div class="statcounter">
       <a title="shopify site analytics"
          href="http://statcounter.com/shopify/" target="_blank">
         <img class="statcounter"
              src="http://c.statcounter.com/10491184/0/40c0ea38/1/"
              alt="shopify site analytics">
       </a>
     </div>
   </noscript>
   <!-- End of StatCounter Code for Default Guide -->
    </body> 
</html>
