<!doctype html>
<html lang="en">
    <head>    
        
        <title>{% assign title_is_not_empty = page.title | is_not_empty %}{% if title_is_not_empty %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ page.excerpt | default: site.description }}"/>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i%26display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
        <link rel="shortcut icon" type="image/png" href="/covid19-forecast-hub-web/images/forecast-hub-favicon.png">
        
    </head>
    <body>
        
        {{ content }}
        <!-- Scripts -->
        <script src="{{ 'assets/js/plugins.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/prism.js' | relative_url }}" data-manual></script>
        <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
        <!-- Default Statcounter code for Covid19-forecast-hub
        https://reichlab.io/covid19-forecast-hub/ -->
        <script type="text/javascript">
            var sc_project=12239903; 
            var sc_invisible=1; 
            var sc_security="3c7ad044"; 
            </script>
            <script type="text/javascript"
            src="https://www.statcounter.com/counter/counter.js"
            async></script>
            <noscript><div class="statcounter"><a title="Web Analytics"
            href="https://statcounter.com/" target="_blank"><img
            class="statcounter"
            src="https://c.statcounter.com/12239903/0/3c7ad044/1/"
            alt="Web Analytics"></a></div></noscript>
            <!-- End of Statcounter Code -->
    </body> 
</html>
